@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w-auto align-items-center justify-content-center d-flex flex-column gap-2">
    <h1>Welcome to the Prayer Journaling Website!</h1>
    <div class="col-sm-4 d-grid">
        <a class="btn btn-primary" href="Sessions/New">New Prayer Session</a>
    </div>
    <div class="col-sm-4 d-grid">
        <a class="btn btn-outline-primary" href="Sessions/Index">View Previous Sessions</a>
    </div>
    <div class="col-sm-4 d-grid">
        <a class="btn btn-outline-primary" href="Groups/Index">View Groups</a>
    </div>
    <div class="col-sm-4 d-grid">
        <a class="btn btn-outline-primary" href="Prayers/All">All Prayers</a>
    </div>
    <div class="col-sm-4 d-grid">
        <a class="btn btn-outline-primary" href="Prayers/Create">New Prayer</a>
    </div>
</div>
